NODE_ENV=development
PORT=3000

MONGODB_URI="your  mongo db cloud url"

REDIS_URL="your  redis cloud console url "


UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=500
ALLOWED_FILE_TYPES=text/csv,application/csv


QUEUE_NAME=file-processing
JOB_RETRY_ATTEMPTS=3
JOB_RETRY_DELAY_MS=5000
MAX_CONCURRENCY=5
